* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	margin: 2em 4em;
	.upper-nav {
		display: flex;
		justify-content: space-between;
		padding-bottom: 1em;
		border-bottom: 0.4em solid #c43035;
		flex-wrap: wrap;
		.pinomag-logo img {
			width: 150px;
		}
	}

	.middle-nav {
		display: flex;
		justify-content: center;
		border-bottom: 0.8px solid black;
		ul {
			list-style-type: none;
			display: flex;
			padding: 1em;
			margin-bottom: 0;
			flex-wrap: wrap;
			li {
				padding: 0 1.5em;
				font-weight: bold;
				font-size: 1.1em;
			}

			a {
				text-decoration: none;
				color: #000;
				&:hover {
					color: #c43035;
				}
			}
		}

		.active-middle-nav {
			color: #c43035;
			cursor: pointer;
			&:hover {
				color: #c43035;
			}
		}
	}

	.bottom-nav {
		display: flex;
		justify-content: center;
		border-bottom: 0.8px solid black;
		ul {
			list-style-type: none;
			display: flex;
			margin-bottom: 0;
			padding: 2em;
			flex-wrap: wrap;

			li {
				padding: 0 2em;
				font-size: 1em;
			}

			a {
				text-decoration: none;
				color: #000;

				&:after {
					display: block;
					content: "";
					border-bottom: solid 0.1em #c1272d;
					transform: scaleX(0);
					transition: transform 150ms ease-in-out;
					transform-origin: 100% 50%;
				}
				&:hover:after {
					transform: scaleX(1);
					transform-origin: 0 50%;
				}
			}
		}
	}
}

.content-container {
	margin: 2em 4em;
}

.hero-header {
	background-color: #dddddd;
	height: 80vh;

	.highlight-container {
		position: absolute;
		background-color: #fff;
		width: 20%;
		height: 60%;
		margin-left: 5%;
		margin-top: 5%;
	}
}

.highlights {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;

	padding-bottom: 1.5em;
}

.highlights h1 {
	text-align: center;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

.discover-more h1 {
	text-align: center;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
	font-size: 2rem;
}

/* The Masonry Container */
.masonry {
	width: 1200px;
	margin: 20px auto;
	columns: 3;
	column-gap: 20px;
}

.masonry a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.masonry label {
	cursor: pointer;
}

.masonry .item {
	width: 100%;
	margin: 0 0 20px;
	padding: 10px;
	background: #fff;
	overflow: hidden;
}

.masonry .masonry-img {
	max-width: 100%;
}

.masonry .item h5 {
	padding-top: 0.5em;
}

.masonry .item h3 {
	padding-top: 0.5em;
}

.masonry .item h6 {
	font-weight: 300;
}

@media only screen and (max-width: 1200px) {
	.masonry {
		columns: 3;
		width: calc(100% - 40px);
		box-sizing: border-box;
		padding: 20px 20px 20px 0;
	}
}

@media only screen and (max-width: 768px) {
	.masonry {
		columns: 2;
	}
}

@media only screen and (max-width: 480px) {
	.masonry {
		columns: 1;
	}
}

.inner-journal {
	text-align: center;
	h4 {
		color: #c1272d;
	}
	img {
		width: 100%;
		height: 100vh;
	}

	.journal-info {
		padding: 1.5em 0;
	}
	.journal-subinfo {
		padding-bottom: 1.5em;
	}
}

.journal-description {
	.journal-text {
		margin: 0 13em;
		padding: 2em 0;
		p {
			font-weight: 500;
			font-size: 1.4em;
		}
	}
}

.discover-more {
	padding-bottom: 2em;
}

.small-hero-header {
	height: 300px;
	background-color: #dddddd;
	display: flex;
	justify-content: center;
	.overlay-text {
		display: flex;
		align-items: center;
	}
}

.our-story-nav {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 1em;
	ul {
		list-style-type: none;
		display: inline-flex;
		flex-wrap: wrap;
		li {
			padding: 0 1.5em;
			a {
				text-decoration: none;
				color: #000;
				font-size: 1.2em;

				&:after {
					display: block;
					content: "";
					border-bottom: solid 0.1em #c1272d;
					transform: scaleX(0);
					transition: transform 150ms ease-in-out;
					transform-origin: 100% 50%;
				}
				&:hover:after {
					transform: scaleX(1);
					transform-origin: 0 50%;
				}
			}
		}
	}
}

.our-story-container {
	margin: 0 7em;
	display: flex;
	flex-wrap: wrap;
	.our-story-description {
		flex: 2;
		font-size: 1.3em;
		padding-right: 4em;
		border-right: 2px solid #dddddd;
	}

	.our-story-partners {
		padding-left: 3em;
		flex: 1;
		p {
			font-size: 0.9em;
		}
		.learn-more {
			text-decoration: none;
			text-decoration: underline;
			color: #000;
			font-size: 0.9em;
		}
	}
}

.anchor-button {
	text-decoration: none;
	color: black;
	width: 100%;
	border: 2px solid #dddddd;
	text-align: center;
	padding: 0.5em;
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 1em;
	transition: 0.2s ease;
}

.anchor-button:hover {
	text-decoration: none;
	color: #000;
	background-color: #000;
	color: #fff;
	transition: 0.2s ease;
	border-color: #000;
}

.small-anchor-button {
	text-decoration: none;
	color: black;
	width: 120px;
	border: 2px solid #dddddd;
	text-align: center;
	padding: 0.3em;
	font-weight: bold;
	font-size: 0.7em;
	margin-bottom: 3em;
	transition: 0.2s ease;
}

.small-anchor-button:hover {
	text-decoration: none;
	color: #000;
	background-color: #000;
	color: #fff;
	transition: 0.2s ease;
	border-color: #000;
}

.slick-prev:before,
.slick-next:before {
	color: #000 !important;
	font-size: 40px !important;
}
.slick-prev,
.slick-next {
	z-index: 1;
	top: 36% !important;
}

.slick-slide img {
	width: 380px;
	object-fit: cover;
	height: 400px;
}

.highlights-slider label {
	padding-top: 0.5em;
}

.highlights-slider a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.highlights-slider label {
	cursor: pointer;
}

#slider_64 .owl-item .hero-header-description {
	max-width: 300px;
	height: 400px;
	background-color: #fff;
	padding: 0 1.5em;
	h4 {
		color: #c1272d;
		padding-top: 0.5em;
	}
	h2 {
		padding-top: 0.5em;
	}
	small {
		padding-top: 0.5em;
	}

	.hero-header-bottom-description {
		position: relative;
		top: 45%;
		border-top: 2px solid #c1272d;
		padding-top: 1em;
	}
}

#slider_70 .owl-item .hero-header-description {
	max-width: 300px;
	height: 400px;
	background-color: #fff;
	padding: 0 1.5em;
	h4 {
		color: #c1272d;
		padding-top: 0.5em;
	}
	h2 {
		padding-top: 0.5em;
	}
	small {
		padding-top: 0.5em;
	}

	.hero-header-bottom-description {
		position: relative;
		top: 45%;
		border-top: 2px solid #c1272d;
		padding-top: 1em;
	}
}

.active-underline-nav:after {
	transform: scaleX(1) !important;
}

.content-container {
	.hero-advertising {
		width: 100%;
		background-color: #ddd;
		height: 80vh;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 3em;
		p {
			font-size: 2em;
		}
	}

	.two-column-advertising {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.half-column {
			background-color: #ddd;
			height: 100vh;
			width: 48%;
			display: flex;
			justify-content: center;
			align-items: center;
			p {
				font-size: 2em;
			}
		}
	}
}

.accordion {
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 0.8em;
	font-weight: bold;
	transition: 0.4s;
	background-color: white;
	border-top: 2px solid #ddd;
}

.accordion:after {
	content: "\002B";

	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.accordion-container {
	p {
		font-size: 0.7em;
	}
}

.bold-title {
	font-weight: bold;
}
